*,*::before,*::after{
    box-sizing: border-box;
}

:root{
    --hue-neutral:200;
    --hue-wrong : 0;
    --hue-correct: 145;
}
body{
    --hue:var(--hue-neutral);
    padding:0;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width:100vw;
    background-color: hsl(var(--hue),100%,20%);
}
.container{
    background-color: white;
    padding : 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    width : 400px;
    max-width: 80%;
}
body.correct{
    /* background-color: hsl(var(--hue-correct),100%,30%); */
    --hue : var(--hue-correct);
}
body.wrong,.btn.wrong{
    --hue : var(--hue-wrong);
}
.btn-grid{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap:10px;
    margin:20px 0;
}
.btn{
    --hue : var(--hue-neutral);
    padding : 5px 10px;
    background-color: hsl(var(--hue),100%,50%);
    border-color: hsl(var(--hue),100%,30%);
    border-radius: 5px;
    outline: none;
    color:white;
    
}
.btn.correct{
    --hue : var(--hue-correct);
    color : black;
}
.btn.wrong{
    --hue : var(--hue-wrong)
}
.btn:hover{
    border-color: black;
}
#question{
    font-size: 1.5rem;
}

.start-btn,.next-btn{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls{
    display:flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display:none
}